<div class="main-page">
<h2>Check out some great playlists to help you study</h2>
<p>This is a piano playlist. This playlist is filled with soft music that can help you study when you really need to focus.</p>
<iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX4sWSpwq3LiO" width="80%" height="300" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

<p>This playlist is fun because it has taken popular rock music and given it an instramental twist. This contains some different music genres but focuses on rock music. </p>
<iframe src="https://open.spotify.com/embed/playlist/42kSCKmYSWITeEIOBwjCS6" width="80%" height="300" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe><br>

<p>Sometimes you just need to Imagine</p>
<iframe src="https://open.spotify.com/embed/playlist/7IR1gz3S7ihpmoJSJQB4m5" width="80%" height="300" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</div>
